*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}


/* HEADER  */

header{
    background-color: blueviolet;
    height: 100px;
    display: flex;
    justify-content: right;

}

.modoOscuroIcono{
    margin: 10px;
}

#toggle{
    display: none;
}

#label_toggle{
    font-size: 35px;
    color: #ee82ee;
    cursor: pointer;
} 

#menu-toggle {
    display: none;
}

#foto_perfil {
    width: 150px;
    height: 150px;
    margin: 30px auto 0 60%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#perfil{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


/* MAIN */

.menuYcontenido{
    display: flex;
    flex-direction: row;

}


/* menu lateral */

nav{
    height: 100vh;
    width: 200px;
    background-color:#781cce;
    box-shadow: 10px 0px 11px 0px rgba(0,0,0,0.55);
    -webkit-box-shadow: 10px 0px 11px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 10px 0px 11px 0px rgba(0,0,0,0.55);
    padding-inline: 40px;  
    position: fixed;
    top: 0;
    left: 0;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    z-index: 3;
}

.menu_lateral{
    color: white;
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 40px;

}

.link_lateral{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.div_escondido{
    width: 300px;
    background-color: #781cce00;
}

/* ------ */

@keyframes aparecerSeccion {
    from {
        opacity: 0;
        transform: translateX(100px);
        
    }
    to {
        opacity: 1;
        transform: translateX(10px);
        
    }
}

.oculto {
    opacity: 0;
    transform: translateX(100px);
}
.visible {
    animation: aparecerSeccion 0.8s ease-in-out forwards;
}

.contenido{
    padding-left: 80px;
    padding-top: 80px;
}

section{
    margin-bottom: 200px;
    
}

h1{
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    /* animation: aparecerSeccion 0.8s ease-in-out; */
}

h2{
    margin-bottom: 20px;
    /* animation: aparecerSeccion 0.9s ease-in-out; */
}

/* p{
    animation: aparecerSeccion 1.3s ease-in-out;
} */

img {
    max-width: 100%;
    height: auto;
}


/* seccion estudios */

/* .seccion_formacionYhabilidades {
    animation: aparecerSeccion 1s ease-in-out;
} */

.estudios {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.logo_estudios{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.link_estudio{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
}

/* seccion tecnologias */

.lista_tecnologias{
    margin-top: 20px;
    margin-left: 5px;
}

.tecnologia{
    display: flex;
    align-items: center;
    
}

.tecnologia_icono{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/* seccion proyectos */

.proyectos_lista {
    margin-top: 20px;
    /* animation: aparecerSeccion 1.1s ease-in-out; */
}

.proyecto_imagen{
    width: 200px;
    height: 100px;
    border-radius: 10px;
    margin-right: 50px;
}

.proyecto_imagen:hover{
    border-color: #ff006a;
    /* transform: scale(0); */
    border-style: solid;
    border-width: 2px;
    transition: border-color 2.5s;
}

/* seccion contactos */

#contactos_lista{
    display: flex;
    flex-direction:row;
    /* animation: aparecerSeccion 1.1s ease-in-out; */
}

.contacto_link{
    margin-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.contacto_icono{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    font-size: 30px;
    transition: color 0.3s;
    text-decoration: none;
}

.contacto_link span {
    text-decoration: underline;
}

.svg_icono{
    color: black; 
}

a:hover {
    color: #ff6565;
    transition: color 0.2s;
} 

a:visited:hover{
    color: #ff6565;
    text-decoration: underline;
    transition: color 0.2s;
}




/* FOOTER */

footer {
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer_contenedor {
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contenido_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 80px;
}

footer p {
    margin: 0;
}

footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: wheat;
    transition: color 0.3s;
    text-decoration: underline;
}

footer .contacto_lista {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    list-style: none;
}

.footer_icono{
    width: 23px;
    height: 23px;
    fill: white;

}

.div_escondidoFooter {
    width: 300px;
    height: 100%;

    background-color: #781cce00;
}




/* MODO OSCURO */

.dark_header {
    background-color: #32005a;
}

.dark_main {
    background-color: #100016;
    color: white;
}
.dark_footer {
    background-color: #32005a;
    color: white;
}

body.dark #menu-toggle {
    color: white;
}

.dark_nav {
    background-color: #370064;
    color: white;
}

.dark_link {
    color: white;
}
.dark_link:visited {
    color: #b669ff;
}

.dark_icono {
    color: white;
}

body, .dark_main, .dark_header, .dark_footer, .dark_nav, .seccion, .proyectos_lista, .contacto_link {
    transition: background 0.5s, color 0.5s;
}


/* menu hamburguesa */
#menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: #370064;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 2000;
}

/* RESPONSIVE */
@media (max-width: 800px) {

    html, body {
    width: 100%;
    overflow-x: hidden;
    }

    #foto_perfil {
        margin: 25px 60px 0 auto;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    #perfil {
        display: block;
    }

    nav {
        position: fixed;
        left: -300px;
        top: 0;
        width: 190px;
        height: 100vh;
        background: #781cce;
        transition: left 0.10s;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }
    nav.open {
        left: 0;
    }
    #menu-toggle {
        display: block;
    }
    .menuYcontenido {
        flex-direction: column;
    }
    .contenido {
        padding-left: 0;
    }

    .perfil {
        display: none;
        justify-content: center;
    }

    h1{
        text-align: center;
    }

    h2{
        text-align: center;
    }

    p{
        text-align: center;
        margin-inline: 20px;
    }

    .estudios {
        flex-direction: column;
        align-items: center;
    }

    .lista_tecnologias {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .tecnologia {
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .proyectos_lista {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .proyecto_imagen {
        margin: 30px;
        width: 80%;
        max-width: 300px;
        height: auto;
    }

    #contactos_lista {
        display: flex;
        justify-content: center;
        
    }

    .contacto_link {
        margin: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .contenido_footer{
        padding: 0;
    }

}
