*{
    margin: 0;
    padding: 0;
}

/* HEADER  */

header{
    background-color: blueviolet;
    height: 100px;
    display: flex;

    
}

#foto_perfil{
    width: 100px;
    height: 100px;
}

/* MAIN */

.menuYcontenido{
    display: flex;
    flex-direction: row;
}

nav{
    height: 85vh;
    width: 200px;
    background-color:#781cce;
}


