*{
    margin: 0;
    padding: 0;
}

/* HEADER  */

header{
    background-color: blueviolet;
    height: 100px;
    display: flex;
    justify-content: space-between;

    
}

/* #toggle{
    display: none;
} */

#label_toggle{
    font-size: 35px;
    color: #ffd23d;
    cursor: pointer;
} 

/* #menu-toggle {
    display: none;
} */

#foto_perfil{
    width: 150px;
    height: 150px;
    margin-right: 25%;
    margin-top: 30px;
}

#perfil{
    width: 100%;
    height: 100%;
    
}

/* MAIN */

.menuYcontenido{
    display: flex;
    flex-direction: row;
}

nav{
    height: 85vh;
    width: 200px;
    background-color:#781cce;
    padding: 30px;
    text-decoration: none;
    list-style-type: none;
}

.menu_lateral{
    color: white;
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 40px;

}

.link_lateral{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.contenido{
    padding-left: 40px;
    padding-top: 50px;
}

.seccion{
    margin-bottom: 70px;
}


h1{
    margin-bottom: 50px;
}

h2{
    margin-bottom: 10px;
    
}

#contactos_lista{
    display: flex;
    flex-direction:row;
    
}

.contacto_link{
    margin-right: 20px;
}
